.alert {
  padding: 0.1rem 0rem;
  margin: 0.2rem 0rem;
  text-align: center;

  span {
    padding-right: 1rem;
    flex-wrap: nowrap;
  }
}

.reserved-places {
  white-space: pre-wrap;
}

.language-chooser {
  width: 100%;
  select {
    background-color: transparent;
    height: 2rem;
  }
}

@media all and (min-width: 768px) {
  .radio-header {
    padding-right: 1rem;
  }
}
