.alert {
  padding: 0.1rem 0rem;
  margin: 0.2rem 0rem;
  text-align: center;
  white-space: pre-wrap;

  span {
    flex-wrap: nowrap;
  }
}

.reserved-places {
 //  margin: 0 0.3rem;
  //display: flex;
  //flex-direction: row;
  //flex-wrap: wrap;
  //justify-content: center;
}

.language-chooser {
  width: 100%;

  select {
    background-color: transparent;
    height: 2rem;
  }
}

@media all and (min-width: 768px) {
  .radio-header {
    padding-right: 1rem;
  }
}

h1 {
  color: white;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}

@media all and (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}
