<div *ngIf="inscription$ | async as inscription">
  <div class="alert alert-warning show language-chooser">
    {{ 'LANGUAGE' | translate}}:
    <select #langSelect (change)="translate.use(langSelect.value)">
      <option
        class="alert-warning"
        *ngFor="let lang of translate.getLangs()"
        [value]="lang"
        [selected]="lang === translate.currentLang"
      >
        {{ lang }}
      </option>
    </select>
  </div>
  <div class="alert alert-primary show" role="alert">
    <span>{{ 'WEEKNR' | translate}} {{ inscription.week }}</span>
  </div>
  <div class="alert alert-primary show" role="alert">
    <span>{{ 'RESERVEDPLACES' | translate}}: {{ inscription.numOfChildren }}</span>
  </div>
  <div *ngIf="externalInput" class="alert alert-warning show" role="alert">
    <span>{{ externalInput }}</span>
  </div>
  <div
    *ngIf="!(loggedIn$ | async) && (deadline$ | async) as deadline"
    class="alert alert-success show"
    role="alert"
  >
    <app-count-down [title]="'TIMELEFT'" [dDay]="deadline"></app-count-down>
  </div>
</div>
