<div class="card">
  <div class="card-header">
    Sign Up!
  </div>

  <div class="card-body">
    <form novalidate
      (ngSubmit) = save()
      [formGroup] = "signupForm">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label pt-0">Schlosswoche</label>
        <div class="col-md-8">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input"
                     id="weekNrIdOne"
                     type="radio"
                     value="1"
                     formControlName="weekNr"> Woche 1
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input"
                     id="weekNrIdTwo"
                     type="radio"
                     value="2"
                     formControlName="weekNr"> Woche 2
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input"
                     id="weekNrIdThree"
                     type="radio"
                     value="3"
                     formControlName="weekNr"> Woche 3
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label pt-0">Number of children</label>
        <div class="col-md-8">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input"
                     id="numOfChildsIdOne"
                     type="radio"
                     value="1"
                     formControlName="numOfChilds"> 1 Child
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input"
                     id="numOfChildsIdTwo"
                     type="radio"
                     value="2"
                     formControlName="numOfChilds"> 2 Children
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input"
                     id="numOfChildsIdThree"
                     type="radio"
                     value="3"
                     formControlName="numOfChilds"> 3 Children
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  type="submit"
                  style="width:80px"
                  [title]="signupForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!signupForm.valid">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<br>Dirty: {{ signupForm.dirty }}
<br>Touched: {{ signupForm.touched }}
<br>Valid: {{ signupForm.valid }}
<br>Value: {{ signupForm.value | json }}
