<app-wizard-step
  (nextStepClicked)="goToNextStep()"
  (previousStepClicked)="goToPreviousStep()"
  (saveStepClicked)="goToSaveStep()"
  [saveStep]="currentParticipantNumber >= numOfChilds"
>
  <div class="wizard-content">
    <div class="wizard-content-body">
      <form [formGroup]="signupForm" novalidate>
        <div class="form-group row mb-2">
          <app-header
            [titlePostfix]="currentParticipantNumber.toString()"
            [title]="title"
          ></app-header>
        </div>

        <div class="form-group row mb-2">
          <label
            class="
              col-xl-2 col-lg-3 col-md-4 col-sm-4 col-form-label
              text-light
            "
            for="salutationId"
          >
            {{ "PARTICIPANT.SALUTATION.TITLE" | translate }}
          </label>
          <div class="col-lg-8 col-md-8">
            <select
              [ngClass]="{
                'is-invalid':
                  (signupForm.get('salutation')?.touched ||
                    signupForm.get('salutation')?.dirty) &&
                  !signupForm.get('salutation')?.valid
              }"
              class="form-control"
              formControlName="salutation"
              id="salutationId"
            >
              <option disabled value="" [disabled]="!isSafari">
                {{ "PARTICIPANT.SALUTATIONPH" | translate }}
              </option>
              <option value="F">
                {{ "PARTICIPANT.SALUTATION.F" | translate }}
              </option>
              <option value="M">
                {{ "PARTICIPANT.SALUTATION.M" | translate }}
              </option>
              <option value="D">
                {{ "PARTICIPANT.SALUTATION.D" | translate }}
              </option>
            </select>
            <span class="invalid-feedback">
              <span *ngIf="signupForm.get('salutation')?.errors?.required">
                {{ "PARTICIPANT.SALUTATIONMISSING" | translate }}
              </span>
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label
            class="
              col-xl-2 col-lg-3 col-md-4 col-sm-4 col-form-label
              text-light
            "
            for="firstNameParticipantId"
          >
            {{ "PARTICIPANT.FIRSTNAME" | translate }}
          </label>
          <div class="col-lg-8 col-md-8">
            <input
              [ngClass]="{
                'is-invalid':
                  (signupForm.get('firstNameParticipant')?.touched ||
                    signupForm.get('firstNameParticipant')?.dirty) &&
                  !signupForm.get('firstNameParticipant')?.valid
              }"
              class="form-control"
              formControlName="firstNameParticipant"
              i18n-placeholder
              id="firstNameParticipantId"
              placeholder="{{ firstNameRequired | translate }}"
              type="text"
            />
            <span class="invalid-feedback">
              <span
                *ngIf="signupForm.get('firstNameParticipant')?.errors?.required"
              >
                {{ "PARTICIPANT.FIRSTNAMEMISSING" | translate }}
              </span>
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label
            class="
              col-xl-2 col-lg-3 col-md-4 col-sm-4 col-form-label
              text-light
            "
            for="lastNameParticipantId"
          >
            {{ "PARTICIPANT.LASTNAME" | translate }}</label
          >
          <div class="col-lg-8 col-md-8">
            <input
              [ngClass]="{
                'is-invalid':
                  (signupForm.get('lastNameParticipant')?.touched ||
                    signupForm.get('lastNameParticipant')?.dirty) &&
                  !signupForm.get('lastNameParticipant')?.valid
              }"
              class="form-control"
              formControlName="lastNameParticipant"
              i18n-placeholder
              id="lastNameParticipantId"
              placeholder="{{ lastNameRequired | translate }}"
              type="text"
            />
            <span class="invalid-feedback">
              <span
                *ngIf="signupForm.get('lastNameParticipant')?.errors?.required"
              >
                {{ "PARTICIPANT.LASTNAMEMISSING" | translate }}
              </span>
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label
            class="
              col-xl-2 col-lg-3 col-md-4 col-sm-4 col-form-label
              text-light
            "
            for="birthdayId"
          >
            {{ "PARTICIPANT.BIRTHDAY" | translate }}
          </label>
          <div class="col-lg-8 col-md-8">
            <input
              [ngClass]="{
                'is-invalid':
                  (signupForm.get('birthday')?.touched ||
                    signupForm.get('birthday')?.dirty) &&
                  !signupForm.get('birthday')?.valid
              }"
              class="form-control"
              formControlName="birthday"
              i18n-placeholder
              id="birthdayId"
              placeholder="{{ birthdayRequired | translate }}"
              type="date"
            />
            <span class="invalid-feedback">
              <span *ngIf="signupForm.get('birthday')?.errors?.required">
                {{ "PARTICIPANT.BIRTHDAYMISSING" | translate }}
              </span>
            </span>
          </div>
        </div>

        <div class="form-group row mb-2 flex-sm-nowrap">
          <label
            class="
              col-xl-2 col-lg-3 col-md-4 col-sm-4 col-form-label
              text-light
            "
            for="fotoAllowedId"
          >
            {{ "PARTICIPANT.FOTOALLOWED" | translate }}
          </label>
          <div class="col-lg-8 col-md-8 nowrap">
            <input
              class="form-check-input"
              formControlName="fotoAllowed"
              id="fotoAllowedId"
              type="checkbox"
              value="true"
            />
          </div>
        </div>

        <div class="form-group row mb-2">
          <label
            class="
              col-xl-2 col-lg-3 col-md-4 col-sm-4 col-form-label
              text-light
            "
            for="commentId"
          >
            {{ "PARTICIPANT.COMMENT" | translate }}
          </label>
          <div class="col-lg-8 col-md-8">
            <textarea
              class="form-control"
              formControlName="comment"
              i18n-placeholder
              id="commentId"
              placeholder="{{ commentPh | translate }}"
            >
            </textarea>
          </div>
        </div>

        <!-- <div class="form-group row mb-2">
          <div class="col-md-2 col-form-label text-light">
          </div>
          <div class="col-lg-8 col-md-6 btn-row">
            <button class="btn btn-primary mr-3"
              [title]="signupForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
              [disabled]="!signupForm.valid">
              Previous
            </button>
            <ng-container *ngIf="currentParticipantNumber < numOfChilds else saveCase">
              <button class="btn btn-primary mr-3"
                (click)="next()"
                [title]="signupForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                [disabled]="!signupForm.valid">
                Next
              </button>
            </ng-container>
            <ng-template #saveCase>
              <button class="btn btn-primary mr-3"
                (click)="save()"
                [title]="signupForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                [disabled]="!signupForm.valid">
                Save
              </button>
            </ng-template>
          </div>
        </div> -->
      </form>
    </div>
  </div>
</app-wizard-step>
