@import '~src/assets/styles/variables.scss';

.content {
  min-height: 85vh;
}
nav {
  width: 100%;
}

header {
  background-color: darken($base-color, 10);
  align-items: center;
  justify-content:space-between;
  position: sticky;
  top: 0;
  z-index: 1;


  h1 {
    color: white;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    font-size: 2.8rem;
  }
}

section {
  background-color: darken($base-color, 5);

  div {
    display: flex;
    justify-content: space-around;
    height: 100%;

    button {
      position: sticky;
      top: 50vh;
      height: max-content;
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
      // padding: 0.5rem 0;
      // outline: 0.1rem darken(white, 30) solid;
      // cursor: pointer;
      // z-index: 2;

      &#previous-button {
        padding-right: 1rem;
      }

      &#next-button {
        padding-left: 1rem;
      }

      span {
        display: none;
      }

      &:focus,
      &:hover {
     //   outline: 0.2rem white solid;
    //    background: darken($base-color, 20);
      }
    }
  }
}



.footer {
  min-height: 15vh;
  background-color: #090909;
}

@media all and (min-width: 768px) {
  section {
    div {
      button {
        span {
          display: block;
        }
        min-width: 10rem;
      }
    }
  }
}
