<section>
  <header>
    <h1>{{title | translate}} {{titlePostfix}}</h1>
  </header>

  <div class="content">
    <button id="previous-button" class="btn btn-primary mr-3" [class.disabled]="!previousEnabled" (click)="goToPreviousStep()">
      <i class="bi-chevron-left"></i> <span>{{'WIZARD.PREVIOUS' | translate}}</span>
    </button>

    <ng-content></ng-content>

    <ng-container *ngIf="saveStep else nextCase">
      <button id="save-button" class="btn btn-primary mr-3" (click)="goToSaveStep()">
        <span>{{'WIZARD.SAVE' | translate}}</span> <i class="bi-save"></i>
      </button>
    </ng-container>
    <ng-template #nextCase>
      <button id="next-button" class="btn btn-primary mr-3" [class.disabled]="!nextEnabled" (click)="goToNextStep()">
        <span>{{'WIZARD.NEXT' | translate}}</span> <i class="bi-chevron-right"></i>
      </button>
    </ng-template>
  </div>
  <div class="footer">

  </div>
</section>
