<div class="free-places">
  <ng-container>
    <span
      [ngClass]="weekVM.freePlacesThisWeek > 0 ? 'text-success' : 'text-danger'"
      class="text-success super-small"
    >{{ "CAPACITY.FREEPLACESTHISWEEK" | translate }}:
      {{ weekVM.freePlacesThisWeek >= 0 ? weekVM.freePlacesThisWeek : 0 }}
      </span
      >
  </ng-container>
  <ng-container
    *ngIf="weekVM.freePlacesThisWeek > 0 && weekVM.placesOnWaitingList > 1"
  >
    <span class="text-danger super-small"
    ><em>
        ({{ weekVM.placesOnWaitingList }} {{ "CAPACITY.WAITINGLISTNPLACES" | translate }})</em
    >
    </span>
  </ng-container>
  <ng-container
    *ngIf="weekVM.freePlacesThisWeek > 0 && weekVM.placesOnWaitingList === 1"
  >
    <span class="text-danger super-small"
    ><em> ({{ weekVM.placesOnWaitingList }} {{ "CAPACITY.WAITINGLISTONEPLACE" | translate }})</em>
    </span>
  </ng-container>
  <ng-container *ngIf="weekVM.freePlacesThisWeek < 0">
    <span class="text-danger super-small"
    ><em>({{ "CAPACITY.WAITINGLISTALLPLACES" | translate }})</em></span
    >
  </ng-container>
</div>
