<app-wizard-step
  [title]="title"
  (previousStepClicked)="goToPreviousStep()"
  (nextStepClicked)="goToNextStep()"
>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="signupForm">
        <div class="form-group row mb-2">
          <div *ngFor="let week of weeks$ | async">
            <div class="weekBlock">
              <div class="weekSituation">
                <h2>Week {{week}}</h2>
                <app-capacity [week]=week></app-capacity>
              </div>
              <div class="weekReservation">
                <div class="radio-header">
                  Numer of Reservations:
                </div>
                <div class="radio-container">
                  <div *ngFor="let reservation of reservations$ | async; index as i">

                    <div class="">
                      <label class="form-check-label">
                        <span>{{reservation}}</span>
                        <input class="form-check-input"

                          [id]="'numOfChilds_' + reservation.toString()
                              + '_week_'+ week.toString()"
                          type="radio"
                          [value]=createWeeklyReservation(week,reservation)
                          formControlName="numOfChilds" (change)="changeReservation(week,reservation)">

                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>

        <!-- <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-4">
            <button class="btn btn-primary mr-3" type="submit"
              [title]="signupForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
              [disabled]="!signupForm.valid">
              Reserve
            </button>
          </div>
        </div> -->
      </form>
    </div>
  </div>
</app-wizard-step>
