.card {
  width: 100%;
  font-size: 1.2rem;
}
.form-check-input {
  vertical-align: -webkit-baseline-middle;
}
.alert {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0rem;

  span {
    padding-right: 1rem;
    flex-wrap: nowrap;
  }
}
