<span> {{ title }} </span>
<ng-container *ngIf="daysToDday$ | async as daysToDday">
  <ng-container *ngIf="daysToDday && daysToDday > 0">
    <span> {{ daysToDday }} </span>Day(s)
  </ng-container>
</ng-container>
<ng-container *ngIf="hoursToDday$ | async as hoursToDday">
  <ng-container *ngIf="hoursToDday && hoursToDday > 0">
    <span> {{ hoursToDday$ | async }} </span> :
  </ng-container>
</ng-container>

<span> {{ minutesToDday$ | async }} </span> :
<span> {{ secondsToDday$ | async }} </span>
