<app-wizard-step
  [title]="title"
  [previousEnabled]="false"
  (previousStepClicked)="goToPreviousStep()"
  (nextStepClicked)="goToNextStep()"
>
  <div class="wizard-content">
    <div class="wizard-content-body">
      <div class="question text-warning" *ngIf="inscription">
        {{ "FINNISH.LOGINQUESTION" | translate }}
      </div>
      <div class="card" *ngIf="inscription">
        <div class="card-body">
          <h5 class="card-title">{{ "FINNISH.CONTACT" | translate }}</h5>
          <p class="card-text">{{ inscription }}</p>
        </div>
      </div>

      <div class="card" *ngFor="let participant of participants; index as i">
        <div class="card-body">
          <h5 class="card-title">
            {{ "FINNISH.PARTICIPANT" | translate }} {{ i }}
          </h5>
          <p class="card-text">{{ participant }}</p>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div *ngIf="loggedIn$ | async as loggedIn; else loginContent">
            <p>
              <button class="btn btn-outline-danger" (click)="logout()">
                {{ "LOGOUT" | translate }}
              </button>
              {{ "ISLOGGEDIN" | translate }} {{ loggedIn }}
            </p>
            <div *ngIf="profile$ | async as profile">
              <img [src]="profile.picture" />
              <pre>{{ profile | json }}</pre>
            </div>
          </div>

          <ng-template #loginContent
            ><button class="btn btn-outline-success" (click)="login()">
              {{ "LOGINREGISTER" | translate }}
            </button></ng-template
          >
        </div>
      </div>
    </div>
  </div>
</app-wizard-step>
