.card{
  border-style: none;
  border-style: none;
}
.card-header{
  border-style: none;
  border-style: none;
}
.card-body{
    border-style: none;
    border-style: none;
}
.question{
  margin: 1rem;
}
