<app-wizard-step
  (nextStepClicked)="goToNextStep()"
  (previousStepClicked)="goToPreviousStep()"
  [previousEnabled]="false"
>
  <h1>{{title | translate}}</h1>
  <div class="wizard-content">
    <div *ngIf="inscription" class="wizard-content-body bg-dark">
      <!-- div class="question text-warning" *ngIf="inscription">
        {{ "FINNISH.LOGINQUESTION" | translate }}
      </div-->

      <div *ngIf="stateDesc"
           class="card">
        <div class="card-body text-secondary">
          <h5 class="card-title">{{ "STATE" | translate }}</h5>
          <p [ngClass]="this.stateDesc.endsWith('WaitingList') ? 'bg-warning' : 'bg-success'"
             class="badge">{{ ("STATE." + stateDesc) | translate }}</p>
        </div>
      </div>

      <div *ngIf="inscription" class="card">
        <div class="card-body">
          <h5 class="card-title text-warning">{{ "FINNISH.CONTACT" | translate }}</h5>
          <p class="card-text text-secondary">{{ inscription }}</p>
        </div>
      </div>

      <div *ngFor="let participant of participants; index as i" class="card">
        <div class="card-body">
          <h5 class="card-title text-info">
            {{ "FINNISH.PARTICIPANT" | translate }} {{ i + 1 }}
          </h5>
          <p class="card-text text-secondary">{{ participant }}</p>
        </div>
      </div>

      <!--div class="card">
        <div class="card-body">
          <div *ngIf="loggedIn$ | async as loggedIn; else loginContent">
            <p>
              <button class="btn btn-outline-danger" (click)="logout()">
                {{ "LOGOUT" | translate }}
              </button>
              {{ "ISLOGGEDIN" | translate }} {{ loggedIn }}
            </p>
            <div *ngIf="profile$ | async as profile">
              <img [src]="profile.picture" />
              <pre>{{ profile | json }}</pre>
            </div>
          </div>

          <ng-template #loginContent
            ><button class="btn btn-outline-success" (click)="login()">
              {{ "LOGINREGISTER" | translate }}
            </button></ng-template
          >
        </div>
      </div-->
    </div>
  </div>
</app-wizard-step>
