.radio-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.radio-header {
  margin-right: 15px;
}

.weekBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.weekSituation {
  padding-right: 2rem;
}

.weekReservation {
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 5px 0;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 1rem;
  text-align: center;

  .form-check-label{
    padding-left: unset !important;
  }

  span {
    color: white;
    font-size: 1.2rem;
    width: 100%;
  }

  &:hover,
  &:focus-within {
    // outline: 1px white solid;
  }
}
