<app-wizard-step
  (nextStepClicked)="goToNextStep()"
  (previousStepClicked)="goToPreviousStep()"
  [title]="title"
>
  <div class="wizard-content">
    <div class="wizard-content-body">
      <form [formGroup]="signupForm">
        <div class="form-group row mb-2">
          <app-header [showAmount]="false" [showCountdown]="false" [showWeek]="false"></app-header>
        </div>
        <div *ngIf="weekVMs$ | async as weekVMs" class="form-group row mb-2">
          <div
            *ngIf="submitted && reservationsPerWeekCtlr?.errors?.min"
            class="alert alert-danger fade show"
            role="alert"
          >
            {{ "SELECTIONREQUIRED" | translate }}:
          </div>
          <div *ngFor="let weekVM of weekVMs">
            <div *ngIf="weekVM && weekVM.week" class="weekBlock">
              <div class="weekSituation">
                <h2 class="text-light">{{ "WEEKNR" | translate }} {{ weekVM.week }}</h2>
                <p class="text-light">
                  {{ weekVM.dateFrom | date: "dd.MM.YYYY":"de-CH" }} -
                  {{ weekVM.dateTo | date: "dd.MM.YYYY":"de-CH" }}
                </p>
                <app-capacity [weekVM]="weekVM"></app-capacity>
              </div>
              <div class="weekReservation">
                <div class="radio-header text-light">
                  {{ "NUMBEROFRESERVATIONS" | translate }}
                </div>
                <div class="radio-container">
                  <div
                    *ngFor="
                      let reservation of [].constructor(maxNumberOfReservations);
                      let j = index
                    "
                  >
                    <label class="form-check-label">
                      <span
                        [ngClass]="(j+1) <= weekVM.freePlacesThisWeek ? 'text-success' : 'text-danger'"
                      ><strong>{{ j + 1 }}</strong></span>
                      <input
                        [id]="
                          'numOfChilds_' +
                          (j + 1).toString() +
                          '_week_' +
                          (weekVM.week).toString()
                        "
                        [ngClass]="(j+1) <= weekVM.freePlacesThisWeek ? 'alert-success' : 'alert-danger'"
                        [value]="createWeeklyReservation(weekVM, j + 1)"
                        class="form-check-input"
                        formControlName="numOfChilds"
                        type="radio"
                      />
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <hr/>
          </div>
        </div>
      </form>
    </div>
  </div>
</app-wizard-step>
