<app-wizard-step
  [title]="title"
  (previousStepClicked)="goToPreviousStep()"
  (nextStepClicked)="goToNextStep()"
>
  <div class="wizard-content">
    <div class="wizard-content-body">
      <form [formGroup]="signupForm">
        <div class="form-group row mb-2">
          <div
            *ngIf="submitted && reservationsPerWeekCtlr?.errors?.min"
            class="alert alert-danger fade show"
            role="alert"
          >
            A selection is required
          </div>
          <div *ngFor="let week of [].constructor(maxWeeks); let i = index">
            <div class="weekBlock">
              <div class="weekSituation">
                <h2>{{ "WEEKNR" | translate }} {{ i + 1 }}</h2>
                <app-capacity [week]="i"></app-capacity>
              </div>
              <div class="weekReservation">
                <div class="radio-header text-warning">
                  {{ "NUMBEROFRESERVATIONS" | translate }}:
                </div>
                <div class="radio-container">
                  <div
                    *ngFor="
                      let reservation of [].constructor(maxReservations);
                      let j = index
                    "
                  >
                    <label class="form-check-label">
                      <span>{{ j + 1 }}</span>
                      <input
                        class="form-check-input"
                        [id]="
                          'numOfChilds_' +
                          (j + 1).toString() +
                          '_week_' +
                          (i + 1).toString()
                        "
                        type="radio"
                        [value]="createWeeklyReservation(i + 1, j + 1)"
                        formControlName="numOfChilds"
                        (change)="changeReservation(i + 1, j + 1)"
                      />
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </form>
    </div>
  </div>
</app-wizard-step>
