<app-wizard-step
  (nextStepClicked)="goToNextStep()"
  (previousStepClicked)="goToPreviousStep()"
>
  <div class="wizard-content">
    <div class="wizard-content-body">
      <form [formGroup]="signupForm">
        <div class="form-group mb-2">
          <app-header
            [showAmount]="false"
            [showCountdown]="false"
            [showWeek]="false"
            [title]="title"
          ></app-header>
        </div>
        <div *ngIf="weeks$ | async as weeks" class="form-group mb-2">
          <div
            *ngIf="submitted && reservationsPerWeekCtlr?.errors?.min"
            class="alert alert-danger fade show"
            role="alert"
          >
            {{ "SELECTIONREQUIRED" | translate }}:
          </div>
          <div *ngFor="let week of weeks">
            <div *ngIf="week && week.week" class="weekBlock">
              <div class="weekOverview">
                <h2 class="text-light">
                  {{ "WEEKNR" | translate }} {{ week.week }}
                </h2>
                <p class="text-light">
                  {{ week.dateFrom | date: "dd.MM.YYYY":"de-CH" }} -
                  {{ week.dateTo | date: "dd.MM.YYYY":"de-CH" }}
                </p>
              </div>
              <app-capacity [weekVM]="week"></app-capacity>
              <div
                *ngIf="week.freePlacesThisWeek > 0"
                class="weekReservation"
              >
                <div class="radio-header text-light">
                  {{ "NUMBEROFRESERVATIONS" | translate }}
                </div>
                <div class="radio-container">
                  <div
                    *ngFor="
                      let reservation of [].constructor(
                        week.freePlacesThisWeek > maxNumberOfReservations
                          ? maxNumberOfReservations
                          : week.freePlacesThisWeek
                      );
                      let j = index
                    "
                  >
                    <label class="form-check-label">
                      <span class="text-success"
                      ><strong>{{ j + 1 }}</strong></span
                      >
                      <input
                        [id]="
                          'numOfChilds_def_' +
                          (j + 1).toString() +
                          '_week_' +
                          week.week.toString()
                        "
                        [value]="
                          createWeeklyReservation(
                            year,
                            week,
                            j + 1,
                            reservationStateEnum.TEMPORARY
                          )
                        "
                        class="form-check-input alert-success"
                        formControlName="numOfChilds"
                        type="radio"
                      />
                    </label>
                  </div>
                </div>
              </div>
              <div
                *ngIf="week.freePlacesThisWeek < maxNumberOfReservations"
                class="weekReservation"
              >
                <div class="radio-header text-light">
                  {{ "NUMBEROFWAITINGLISTPLACES" | translate }}
                </div>
                <div class="radio-container">
                  <div
                    *ngFor="
                      let reservation of [].constructor(
                        maxNumberOfReservations
                      );
                      let j = index
                    "
                  >
                    <label class="form-check-label">
                      <span class="text-warning"
                      ><strong>{{ j + 1 }}</strong></span
                      >
                      <input
                        [id]="
                          'numOfChilds_wl_' +
                          (j + 1).toString() +
                          '_week_' +
                          week.week.toString()
                        "
                        [value]="
                          createWeeklyReservation(
                            year,
                            week,
                            j + 1,
                            reservationStateEnum.TEMPORARY_WAITINGLIST
                          )
                        "
                        class="form-check-input alert-warning"
                        formControlName="numOfChilds"
                        type="radio"
                      />
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <hr/>
          </div>
        </div>
      </form>
    </div>
  </div>
</app-wizard-step>
