.btn {
  width: 100px;
  margin: 6px;
}

.alert {
  padding: 0.1rem 0rem;
  margin: 0.2rem 0rem;
  text-align: center;

  span {
    padding-right: 1rem;
    flex-wrap: nowrap;
  }
}

.language-chooser {
  width: 100%;
  select {
    background-color: transparent;
    height: 2rem;
  }
}

.wizard-content {
  display: flex;
  flex-direction: row;
}
.wizard-content-body {
  align-items: center;
  justify-content: center;
  max-width: 200%;

  margin: 0.3rem;

  .welcome-text {
    em {
      font-size: smaller;
    }
    strong {
      font-size: larger;
    }
    font-weight: 200;
    font-kerning: auto;
  }
}
