.content {
  width: 100%;
}
.btn {
  width: 100px;
  margin: 6px;
}
.card {
  display: flex;
  flex-direction: row;
}
.card-body {

  align-items: center;
  justify-content: center;
  max-width: 100%;
}
