<app-wizard-step
  [title]="title"
  [previousEnabled]="false"
  (previousStepClicked)="goToPreviousStep()"
  (nextStepClicked)="goToNextStep()"
>
  <div class="card">
    <div class="card-body">
      <div>
        <div>
          {{ 'HELLO' | translate:param }}
        </div>
        <app-count-down [title]="countDownTitle"></app-count-down>
      </div>
      <div *ngIf="loggedIn$ | async as loggedIn; else loginContent">
        <p>
          <button class="btn btn-outline-danger" (click)="logout()">
            {{ 'Logout' | uppercase | translate}}
          </button>
          is logged in {{ loggedIn }}
        </p>
        <div *ngIf="profile$ | async as profile">
          <img [src]="profile.picture" />
          <pre>{{ profile | json }}</pre>
        </div>
      </div>

      <ng-template #loginContent>
        <button class="btn btn-outline-success" (click)="login()">Login</button>
      </ng-template>
    </div>
  </div>
</app-wizard-step>
