.form-check-input {
  vertical-align: -webkit-baseline-middle;
}

.form-group {
  white-space: nowrap;
}

.invalid-feedback {
  white-space: break-spaces;
}

@media all and (min-width: 768px) {
  .col-zip {
    padding-right: 5px;
  }

  .col-city {
    padding-left: 5px;
  }
}

@media all and (max-width: 768px) {
  .col-zip {
    padding-bottom: 5px;
  }

  .col-city {
    padding-top: 5px;
  }
}

